.ItemDetailContainer {
justify-content: center;
display: flex;
align-items: center;
flex-direction: column;
min-height: 80vh;
padding-top: 50px;
padding-bottom: 50px;
}

.ComeBack {
    margin-top: 10px;
    color: #299199; 
    background-color: white;
    font-weight: bold;
    border: none;
}